<li class="comment">
  <%= comment.title %> : <%= comment.body %><br/>
  <%= link_to 'Add a Reply', new_comment_comment_path(comment) %><br/>
  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>
