<li class="comment">
  <div class="comment-box">
  <u><%= comment.title %></u> :  <%= raw comment.body %> <%= link_to 'say', new_comment_comment_path(comment) %>
  </div>
  <% unless comment.comments.empty? %>
  <ul class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>
