<h1>Contact</h1>
<table>
<tr>
<td>
  mail
</td>
<td>
  <b>ajeygsi@gmail.com</b>
</td>
</tr>
<tr>
<td>
visit
</td>
<td>
  <a href = "http://ajey.noads.biz" target="_blank">mysite</a>
</td>
</tr>
</table>


