<div class="body">
 <h2> <%= @micropost.content %></h2>
</div>
<br/>
Comments : 
<br/>
<%= link_to 'Add a Comment', new_micropost_comment_path(@micropost) %>
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @micropost.comments %>
</ul>
