<h1>Micropost</h1>
<div class="body">
  <%= @micropost.content %>
</div>
<h2>Comments</h2>
<p><%= link_to 'Add a Comment', new_micropost_comment_path(@micropost) %></p>

<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @micropost.comments %>
</ul>
